body{
    background-color: #000000;
}
.main-window{
    background-color: #56565c5e;
    width: 99vw;
    height: 97vh;
    border-radius: 8px;
}
.folder-selector{
    display: none;
    text-align: center;
}